NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://hu729330_db_user:qkNZiiypzkABOvcg@cluster0.fszqwdv.mongodb.net/?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d
EMAIL_USER=muhammadawais65u@gmail.com
EMAIL_PASS=dljf nqsk ipgs zwst
FRONTEND_URL=http://localhost:5173